<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <!-- Database connection settings -->
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.url">${hibernate.connection.url}</property>
  <property name="hibernate.connection.username">${hibernate.connection.username}</property>
  <property name="hibernate.connection.password">${hibernate.connection.password}</property>
  <!-- JDBC connection pool (use the built-in) -->
  <property name="hibernate.connection.pool_size">3</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="hibernate.current_session_context_class">thread</property>
  <!-- Disable the second-level cache  -->
  <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- Echo all executed SQL to stdout -->
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <property name="hibernate.jdbc.batch_size">50</property>
  <property name="hibernate.order_inserts">true</property>
  <property name="hibernate.order_updates">true</property>
  <property name="hibernate.connection.release_mode">auto</property>
  <property name="hibernate.c3p0.min_size">1</property>
  <property name="hibernate.c3p0.max_size">3</property>
  <property name="hibernate.c3p0.timeout">1800</property>
  <mapping class="fi.fta.beans.Category"/>
  <mapping class="fi.fta.beans.MetaData"/>
  <mapping class="fi.fta.beans.User"/>
  <mapping class="fi.fta.beans.LayerService"/>
  <mapping class="fi.fta.beans.WMS"/>
  <mapping class="fi.fta.beans.WMSInfo"/>
  <mapping class="fi.fta.beans.WMSStyle"/>
  <mapping class="fi.fta.beans.WFS"/>
 
  
 </session-factory>
</hibernate-configuration>
