<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width" />
    <title>$!title</title>
</head>
<body>
<div>
	<img src="http://www.helcom.fi/Style%20Library/HelcomWeb/site_logo.jpg" alt="Helcom" />
</div>
<div>
	$content
</div>
</body>
</html>