<div id="adminView" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
	
	<div id="adminToolsContainer">
		<!-- <div style="width: 300px; height: 290px">
			<div id="adminToolsViews" data-dojo-attach-point="tabCont"></div>
		</div> -->
		<div id="adminToolsViews" data-dojo-attach-point="adminToolsViews"> 
			<div id="layersView" class="adminViewButton" data-dojo-attach-point="layersView" data-dojo-attach-event="onclick:layersButtonClick">Layers</div>
			<div id="usersView" class="adminViewButton" data-dojo-attach-point="usersView" data-dojo-attach-event="onclick:usersButtonClick">Users</div>
			<div id="mspOutputView" class="adminViewButton" data-dojo-attach-point="mspOutputView" data-dojo-attach-event="onclick:mspOutputButtonClick">MSP output</div>
		</div>
		<div id="adminUsersListSection" data-dojo-attach-point="adminUsersListSection"></div>
		<div id="adminLayerListSection" data-dojo-attach-point="adminLayerListSection"></div>
		<div id="adminMspValidationSection" data-dojo-attach-point="adminMspValidationSection"></div>
		
	</div>
	<div id="adminFormsSection" data-dojo-attach-point="adminFormsSection"></div>
</div>
