<div>
	<div id="adminFormsHeader" data-dojo-attach-point="adminFormsHeader"></div>
	<div id="adminFormsBody" data-dojo-attach-point="adminFormsBody">
		<div id="oneLabelForm">
			<label for="adminFormOneLabelInput" class="oneLabelInputLabel"> Label: </label>
			<input id="adminFormOneLabelInput" class="oneLabelInput" type="text" tabindex="2" maxlength="200">
		</div>
		
		<div id="adminFormButtons"> 
			<div id="adminFormSaveButton" class="adminFormButton" data-dojo-attach-point="adminFormSaveButton"></div>
			<div id="adminFormCancelButton" class="adminFormButton" data-dojo-attach-event="onclick:adminFormCancelButtonClick"></div>
		</div>
		<div id="adminFormMessage"></div>
	</div>
</div>
