<div>
	<div id="adminLayerListButtons"> 
		<div id="topCategoryButton" class="adminLayerListButton" data-dojo-attach-event="onclick:topCategoryButtonClick">Add top category</div>
		<div id="topLayerButton" class="adminLayerListButton" data-dojo-attach-event="onclick:topLayerButtonClick">Add top layer</div>
	</div>
	<div id="adminLayerListTreeID" class="layerListTree" data-dojo-attach-point="adminLayerListTree"></div>
	<!-- <div id="layerlistSectionsContainer">
		<div id="layerSearchSection">
			<input class="layerSearchInput" data-dojo-attach-point="layerSearchInput"/>
		</div>
		<div id="layerListSection">
			<div id="layerListTreeID" class="layerListTree" data-dojo-attach-point="layerListTree"></div>
			<div id="hideAllButton" class="layerListButton" data-dojo-attach-point="hideAllButton">Hide all layers</div>
			<div id="collapseAllButton" class="layerListButton" data-dojo-attach-point="collapseAllButton">Collapse layer list</div>
		</div>
	</div> -->
</div>
