<div>
	<div id="adminFormsHeader" data-dojo-attach-point="adminFormsHeader"></div>
	<div id="adminFormsBody" data-dojo-attach-point="adminFormsBody">
		<div id="adminFormMessage"></div>
		<div id="categoryForm" class="formContainer" style="display:none;">
			<div class="scrollableContainer" style="padding: 10px; border: 1px solid #800000;">
			
				<div id="addCategoryForm" class="formSectionGroup">
					<div id="categoryLabelForm" class="inputLabelGroup">
						<label for="categoryInput" class="textInputLabel"> Label: </label>
						<input id="categoryInput" class="textInput" type="text" tabindex="2" maxlength="200">
					</div>
					<div id="helcomCatalogueIdLabelForm" class="inputLabelGroup">
						<label for="helcomCatalogueIdInput" class="textInputLabel"> HELCOM id: </label>
						<input id="helcomCatalogueIdInput" class="textInput" type="text" tabindex="2" maxlength="200">			
					</div>
					<div class="formButtonsGroup"> 
						<div id="saveCategoryButton" class="formButton" data-dojo-attach-point="saveCategoryButton">Save</div>
						<div id="updateCategoryButton" class="formButton" style="display:none;" data-dojo-attach-point="updateCategoryButton">Update</div>
						<div id="addDataCategoryButton" class="formButton" style="display:none;" data-dojo-attach-point="addDataCategoryButton">Add data</div>
					</div>
				</div>
				
				<div id="addDataForCategoryForm" style="display:none;">
					<div id="metadataSection" class="formSectionGroup">
						<div class="formSectionLabel">Metadata:</div>
						<div id="metadataFormMessage" class="formSectionMessage">No metadata added to this layer (Add WMS, WFS first. Metadata will be added automatically if any present in WMS and WFS.)</div>
						<div id="addMetadataForm" class="formSection" style="display:none;">
							<div class="inputLabelGroup">	
								<label for="metadataUrlInput" class="textInputLabel"> URL: </label>
								<input id="metadataUrlInput" class="textInput" type="text" tabindex="2" maxlength="300">
							</div>
							<div class="inputLabelGroup">
								<span class="selectLabel">Choose metadata format:</span>
								<span id="metadataFormatSelect" data-dojo-attach-point="metadataFormatSelect"></span>
							</div>
							<div class="formButtonsGroup"> 
								<div id="metadataSaveButton" class="formButton" data-dojo-attach-point="metadataSaveButton">Save</div>
								<div id="metadataCancelButton" class="formButton" data-dojo-attach-point="metadataCancelButton">Cancel</div>
							</div>
						</div>
						<div id="metadataDisplayForm" class="formSection" style="display:none;" data-dojo-attach-point="metadataDisplayForm"></div>
						<div id="addMetadataButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addMetadataButton">Add</div>
					</div>
					
					<div id="wmsSection" class="formSectionGroup">
						<div class="formSectionLabel">WMS:</div>
						<div id="wmsFormMessage" class="formSectionMessage">No WMS added to this layer</div>
						<div id="addWmsForm" class="formSection" style="display:none;">
							<div class="inputLabelGroup">
								<label for="wmsUrlInput" class="textInputLabel"> URL: </label>
								<input id="wmsUrlInput" class="textInput" type="text" tabindex="2" maxlength="300">
								<span id="validateWmsLink" class="formLink" data-dojo-attach-point="validateWmsLink" data-dojo-attach-event="onclick:validateWmsLinkClick">Validate</span>
							</div>
							<div id="wmsNameSelectForm" class="inputLabelGroup" style="display:none;">
								<span class="selectLabel">Choose WMS layer name:</span>
								<span id="wmsNameSelect" data-dojo-attach-point="wmsNameSelect"></span>
							</div>
							<div id="wmsNameForm" class="inputLabelGroup" style="display:none;">	
								<label for="wmsNameInput" class="textInputLabel"> WMS layer name: </label>
								<input id="wmsNameInput" class="textInput" type="text" tabindex="2" maxlength="200">
							</div>
							<div id="wmsLabelForm" class="inputLabelGroup" style="display:none;">	
								<label for="wmsLabelInput" class="textInputLabel"> WMS layer label: </label>
								<input id="wmsLabelInput" class="textInput" type="text" tabindex="2" maxlength="200">
							</div>
							<div class="formButtonsGroup"> 
								<div id="wmsSaveButton" class="formButton" data-dojo-attach-point="wmsSaveButton">Save</div>
								<div id="wmsCancelButton" class="formButton" data-dojo-attach-point="wmsCancelButton">Cancel</div>
							</div>
						</div>
						<div id="wmsDisplayForm" class="formSection" style="display:none;">
							<div class="inputLabelGroup">
								<span class="textInputLabel">URL:</span>
								<span id="wmsDisplayUrl"></span>
							</div>
							<div class="inputLabelGroup">
								<span class="textInputLabel">Name:</span>
								<span id="wmsDisplayName"></span>
							</div>
							<div id="updateWmsButton" class="formButton" data-dojo-attach-point="updateWmsButton">Update</div>
						</div>
						<div id="addWmsButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addWmsButton">Add</div>
					</div>
					
					<div id="addWfsForm" class="formSectionGroup">
						<div class="formSectionLabel">WFS:</div>
						<div class="formNoDataMessage">No WFS added to this layer</div>
						<div id="addWfsButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addWfsButton">Add</div>
					</div>
					
					<div id="addArcgisMapServerForm" class="formSectionGroup">
						<div class="formSectionLabel">Arcgis MapServer:</div>
						<div class="formNoDataMessage">No Arcgis MapServer added to this layer</div>
						<div id="addArcgisMapServerButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addArcgisMapServerButton">Add</div>
					</div>
					
					
					
					<div id="addDownloadableResourceForm" class="formSectionGroup">
						<div class="formSectionLabel">Downloadable Resource:</div>
						<div class="formNoDataMessage">No downloadable resource added to this layer</div>
						<div id="addDownloadableResourceButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addDownloadableResourceButton">Add</div>
					</div>
				</div>
			</div>
			<div id="addCategoryCloseButton" class="formButton" style="margin-top: 10px;" data-dojo-attach-point="addCategoryCloseButton">Close</div>
		</div>
		
		<!-- <div id="addCategoryForm" class="formContainer" style="display:none;">
			<div id="categoryLabelForm" class="inputLabelGroup">
				<label for="categoryInput" class="textInputLabel"> Label: </label>
				<input id="categoryInput" class="textInput" type="text" tabindex="2" maxlength="200">
				<span>
					<span id="addWMSLink" class="formLink" data-dojo-attach-point="addWMSLink" data-dojo-attach-event="onclick:addWmsLinkClick">Add WMS</span>
					<span id="addWFSLink" class="formLink" data-dojo-attach-point="addWFSLink" data-dojo-attach-event="onclick:addWfsLinkClick">Add WFS</span>
					<span id="addMetadataLink" class="formLink" data-dojo-attach-point="addMetadataLink" data-dojo-attach-event="onclick:addMetadataLinkClick">Add metadata</span>				
				</span>				
			</div>
			
			<div id="addCategoryWmsForm" style="display:none; margin-top: 10px;">
				<div class="addDataFormLabel">Add WMS:</div>
				<div class="inputLabelGroup">
					<label for="wmsUrlInput" class="textInputLabel"> URL: </label>
					<input id="wmsUrlInput" class="textInput" type="text" tabindex="2" maxlength="300">
					<span id="validateWmsLink" class="formLink" data-dojo-attach-point="validateWmsLink" data-dojo-attach-event="onclick:validateWmsLinkClick">Validate</span>
				</div>
				<div id="wmsNameSelectForm" class="inputLabelGroup" style="display:none;">
					<span class="selectLabel">Choose WMS layer name:</span>
					<span id="wmsNameSelect" data-dojo-attach-point="wmsNameSelect"></span>
				</div>
				<div id="wmsNameForm" class="inputLabelGroup" style="display:none;">	
					<label for="wmsNameInput" class="textInputLabel"> Name: </label>
					<input id="wmsNameInput" class="textInput" type="text" tabindex="2" maxlength="200">
				</div>
			</div>
			
			<div id="addCategoryWfsForm" style="display:none; margin-top: 10px;">
				<div class="addDataFormLabel">Add WFS:</div>
			</div>
			
			<div id="addCategoryMetadataForm" style="display:none; margin-top: 10px;">
				<div class="addDataFormLabel">Add metadata:</div>
			</div>
						
			<div class="formButtonsGroup"> 
				<div id="addCategorySaveButton" class="formButton" data-dojo-attach-point="addCategorySaveButton">Save</div>
				<div id="addCategoryCloseButton" class="formButton" data-dojo-attach-point="addCategoryCloseButton">Close</div>
			</div>
		</div>-->
		
		
		<div id="deleteCategoryForm" class="formContainer" style="display:none;">
			<div>
				Layer and all sub-layers with data will be permanently deleted. Continue?
			</div>
			<div class="formButtonsGroup"> 
				<div id="deleteCategoryYesButton" class="formButton" data-dojo-attach-point="deleteCategoryYesButton">Yes</div>
				<div id="deleteCategoryNoButton" class="formButton" data-dojo-attach-point="deleteCategoryNoButton">No</div>
			</div>
		</div>
		
		
		<div id="wmsInfoForm" class="formContainer" style="display:none;">
			<div id="wmsInfoContainer" class="formInfoContainer" data-dojo-attach-point="wmsInfoContainer"></div>
			<div class="formButtonsGroup"> 
				<div id="wmsInfoUpdateButton" class="formButton" data-dojo-attach-point="wmsInfoUpdateButton">Update</div>
				<div id="wmsInfoCloseButton" class="formButton" data-dojo-attach-point="wmsInfoCloseButton">Close</div>
			</div>
		</div>
		
		<!-- <div id="metadataForm" class="formContainer" style="display:none;">
			<div id="metadataNewButton" class="formButton" data-dojo-attach-point="metadataNewButton">New</div>
			<div id="metadataUrlForm" class="inputLabelGroup" style="display:none;">	
				<label for="metadataUrlInput" class="textInputLabel"> URL: </label>
				<input id="metadataUrlInput" class="textInput" type="text" tabindex="2" maxlength="300">
			</div>
			<div id="metadataFormatForm" class="inputLabelGroup" style="display:none;">
				<span class="selectLabel">Choose metadata format:</span>
				<span id="metadataFormatSelect" data-dojo-attach-point="metadataFormatSelect"></span>
			</div>
			
			<div id="metadataContainer"  data-dojo-attach-point="metadataContainer"></div>
			<div class="formButtonsGroup"> 
				<div id="metadataSaveButton" class="formButton" style="display:none;" data-dojo-attach-point="metadataSaveButton">Save</div>
				<div id="metadataCloseButton" class="formButton" data-dojo-attach-point="metadataCloseButton">Close</div>
			</div>
		</div>-->
		
		
	</div>
</div>
