<div>
	<div id="adminFormsHeader" data-dojo-attach-point="adminFormsHeader"></div>
	<div id="adminFormsBody" data-dojo-attach-point="adminFormsBody">
		<div id="adminFormMessage"></div>
		
		<!-- Add ROOT CATEGORY section -->
		<div id="addRootCategoryForm" class="formSectionGroup" style="display: none;">
			<div class="formSectionLabel">Add root category</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Label:</span>
				<input id="addRootCategoryLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
				<div class="inputDescriptionRequired">Input a label that will appear in the layer list.</div>
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">HELCOM id:</span>
				<input id="addRootCategoryHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
				<div class="inputDescriptionNotRequired">Filled in only by HELCOM.</div>
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Metadata URL:</span>
				<input id="addRootCategoryMetadataUrlInput" class="textInput" type="text" tabindex="2" maxlength="500">
				<div class="inputDescriptionNotRequired">Input any valid metadata URL pointing to metadata web page (HTML), XML or plain text content that describes this category.</div>
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Metadata format:</span>
				<span id="addRootCategoryMetadataFormatSelect" data-dojo-attach-point="addRootCategoryMetadataFormatSelect"></span>
			</div>
			<span id="saveRootCategory" class="formLink" data-dojo-attach-point="saveRootCategory">Save</span>
			<span id="cancelRootCategory" class="formLink" data-dojo-attach-event="onclick:cancelRootCategoryClick">Cancel</span>
		</div>
		
		<!-- Summary section -->
		<div id="summaryForm" class="formSectionGroup" style="height: 100%; display: none;">
			<div class="formSectionLabel">Services summary</div>
			<div class="deleteObjectLink" data-dojo-attach-event="onclick:downloadSummaryClick">Download summary</div>
			<div class="scrollableContainer">
				<div id="summaryReport" data-dojo-attach-point="summaryReport"></div>
			</div>
			<span id="closeSummaryForm" class="formLink" data-dojo-attach-event="onclick:closeSummaryFormClick">Close</span>
		</div>
		
		<!-- Validate services section -->
		<div id="validateServicesForm" class="formSectionGroup" style="height: 100%; display: none;">
			<div class="formSectionLabel">Services validation</div>
			<div id="wmsCountMessage"></div>
			<div id="wfsCountMessage"></div>
			<div id="agsCountMessage"></div>
			<div id="dnlCountMessage"></div>
			<div class="scrollableContainer">
				<div id="validationReport" data-dojo-attach-point="validationReport"></div>
			</div>
			<span id="closeValidateServices" class="formLink" data-dojo-attach-event="onclick:closeValidateServicesFormClick">Close</span>
		</div>
		
		<div id="categoryForm" class="formContainer" style="display:none;">
			<div class="scrollableContainer">
				<div id="formInfoHeader" class="formSectionLabel" data-dojo-attach-point="formInfoHeader"></div>
				<div id="deleteObject" class="deleteObjectLink" data-dojo-attach-event="onclick:deleteObjectClick">Delete</div>
				
				<!-- Category INFO section -->
				<div id="categoryInfoForm" class="formSectionGroup">
					<div class="formSectionLabel">Info:</div>
					<div class="inputLabelGroup">
						<span class="textInputLabel">Label:</span>
						<span id="categoryLabel" class="textLabel"></span>
						<input id="categoryLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" style="display: none;" placeholder="Required">	
						<span id="editCategoryLabel" class="formLink" data-dojo-attach-event="onclick:editCategoryLabelClick">Edit</span>
						<span id="cancelCategoryLabel" class="formLink" style="display: none;" data-dojo-attach-event="onclick:cancelCategoryLabelClick">Cancel</span>
						<span id="saveCategoryLabel" class="formLink" style="display: none;" data-dojo-attach-point="saveCategoryLabel">Save</span>
						<div id="categoryLabelDescription" class="inputDescriptionRequired" style="display: none;">Input a label that will appear in the layer list.</div>
					</div>
					<div class="inputLabelGroup">
						<span class="textInputLabel">HELCOM id:</span>
						<span id="helcomCatalogueId" class="textLabel"></span>
						<input id="helcomCatalogueIdInput" class="textInput" type="text" tabindex="2" maxlength="200" style="display: none;">
						<span id="editHelcomCatalogueId" class="formLink" data-dojo-attach-event="onclick:editHelcomCatalogueIdClick">Edit</span>
						<span id="cancelHelcomCatalogueId" class="formLink" style="display: none;" data-dojo-attach-event="onclick:cancelHelcomCatalogueIdClick">Cancel</span>
						<span id="saveHelcomCatalogueId" class="formLink" style="display: none;" data-dojo-attach-point="saveHelcomCatalogueId">Save</span>
						<div id="helcomCatalogueIdDescription" class="inputDescriptionNotRequired" style="display: none;">Filled in only by HELCOM.</div>
					</div>
					<div id=categoryMetadataSection class="inputLabelGroup">
						<span class="textInputLabel">Metadata for this category:</span>
						<span id="categoryMetadataLink" class="textLabel"></span>
						<input id="categoryMetadataLinkInput" class="textInput" type="text" tabindex="2" maxlength="500" style="display: none;">
						<span id="editCategoryMetadataLink" class="formLink" data-dojo-attach-event="onclick:editCategoryMetadataLinkClick">Edit</span>
						<span id="cancelCategoryMetadataLink" class="formLink" style="display: none;" data-dojo-attach-event="onclick:cancelCategoryMetadataLinkClick">Cancel</span>
						<span id="saveCategoryMetadataLink" class="formLink" style="display: none;" data-dojo-attach-point="saveCategoryMetadataLink">Save</span>
						<div id="categoryMetadataLinkDescription" class="inputDescriptionNotRequired" style="display: none;">Input any valid metadata URL pointing to metadata web page (HTML), XML or plain text content that describes this category.</div>
					</div>
					<div id=downloadArcgisUrlSection class="inputLabelGroup">
						<span class="textInputLabel">URL:</span>
						<span id="downloadArcgisUrl" class="textLabel"></span>
						<!-- <input id="cdownloadArcgisUrlInput" class="textInput" type="text" tabindex="2" maxlength="500" style="display: none;">
						<span id="editDownloadArcgisUrl" class="formLink" data-dojo-attach-event="onclick:editDownloadArcgisUrlClick">Edit</span>
						<span id="cancelDownloadArcgisUrl" class="formLink" style="display: none;" data-dojo-attach-event="onclick:cancelDownloadArcgisUrlClick">Cancel</span>
						<span id="saveDownloadArcgisUrl" class="formLink" style="display: none;" data-dojo-attach-point="saveDownloadArcgisUrl">Save</span>
						<div id="downloadArcgisUrlDescription" class="inputDescriptionNotRequired" style="display: none;">Input any valid URL pointing to resource.</div>-->
					</div>
				</div>
				
				<!-- Category METADATA section -->
				<div id="categoryMetadataForm" class="formSectionGroup">
					<div class="formSectionLabel">Metadata:</div>
					<div id="addMetadata" class="formLink" data-dojo-attach-event="onclick:addMetadataClick">Add new</div>
					<div id="addMetadataForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new metadata</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">URL:</span>
							<input id="metadataUrlInput" class="textInput" type="text" tabindex="2" maxlength="500" placeholder="Required">
							<div class="inputDescriptionRequired">Input any valid metadata URL pointing to metadata web page (HTML), XML or plain text content that describes this layer.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Metadata format:</span>
							<span id="metadataFormatSelect" data-dojo-attach-point="metadataFormatSelect"></span>
						</div>
						<span id="saveMetadata" class="formLink" data-dojo-attach-point="saveMetadata">Save</span>
						<span id="cancelMetadata" class="formLink" data-dojo-attach-event="onclick:cancelMetadataClick">Cancel</span>
					</div>
					<div id="metadataDisplayForm" data-dojo-attach-point="metadataDisplayForm"></div>
				</div>
				
				<!-- Category CATEGORIES section -->
				<div id="categoryCategoriesForm" class="formSectionGroup">
					<div class="formSectionLabel">Sub-categories:</div>
					<div id="addCategory" class="formLink" data-dojo-attach-event="onclick:addCategoryClick">Add new</div>
					<div id="addCategoryForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new category</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Label:</span>
							<input id="addCategoryLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
							<div class="inputDescriptionRequired">Input a label that will appear in the layer list.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">HELCOM id:</span>
							<input id="addCategoryHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
							<div class="inputDescriptionNotRequired">Filled in only by HELCOM.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Metadata URL:</span>
							<input id="addCategoryMetadataUrlInput" class="textInput" type="text" tabindex="2" maxlength="500">
							<div class="inputDescriptionNotRequired">Input any valid metadata URL pointing to metadata web page (HTML), XML or plain text content that describes this category.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Metadata format:</span>
							<span id="addCategoryMetadataFormatSelect" data-dojo-attach-point="addCategoryMetadataFormatSelect"></span>
						</div>
						<span id="saveCategory" class="formLink" data-dojo-attach-point="saveCategory">Save</span>
						<span id="cancelCategory" class="formLink" data-dojo-attach-event="onclick:cancelCategoryClick">Cancel</span>
					</div>
					<div id="categoryDisplayForm" data-dojo-attach-point="categoryDisplayForm"></div>
				</div>
				
				<!-- Category WMS section -->
				<div id="categoryWmsForm" class="formSectionGroup">
					<div class="formSectionLabel">WMS layers:</div>
					<div id="addWms" class="formLink" data-dojo-attach-event="onclick:addWmsClick">Add new</div>
					<div id="addWmsForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new WMS layer</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">URL:</span>
							<input id="wmsUrlInput" class="textInput" type="text" tabindex="2" maxlength="500" placeholder="Required">
							<span id="validateWms" class="formLink" data-dojo-attach-event="onclick:validateWmsClick">Validate</span>
							<div class="inputDescriptionRequired">Input valid WMS url. Examples:</div>
							<div class="inputDescriptionRequired">http://www.myserver.com/arcgis/services/maps/MapServer/WMSServer</div>
							<div class="inputDescriptionRequired">https://www.myserver.com/service?SERVICENAME=name&LOGIN=login&PASSWORD=password</div>
						</div>
						<div id="wmsLayerNameSelectGroup" class="inputLabelGroup" style="display:none;">
							<span class="textInputLabel">WMS layer name:</span>
							<span id="wmsNameSelect" data-dojo-attach-point="wmsNameSelect"></span>
							<div class="inputDescriptionRequired">Choose layer (layer names have been extracted from WMS GetCapabilities).</div>
						</div>
						<div id="wmsLayerNameInputGroup" class="inputLabelGroup" style="display:none;">
							<span class="textInputLabel">WMS layer name:</span>
							<input id="wmsNameInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
							<div class="inputDescriptionRequired">Input WMS layer name. </div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Label:</span>
							<input id="wmsLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
							<div class="inputDescriptionRequired">Input a label that will appear in the layer list. It can be WMS layer's title from the WMS GetCapabilities or other label describing this layer.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">HELCOM id:</span>
							<input id="wmsHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
							<div class="inputDescriptionNotRequired">Filled in only by HELCOM.</div>
						</div>
						<span id="saveWms" class="formLink" style="display: none;" data-dojo-attach-point="saveWms">Save</span>
						<span id="cancelWms" class="formLink" data-dojo-attach-event="onclick:cancelWmsClick">Cancel</span>
					</div>
					<div id="wmsDisplayForm" data-dojo-attach-point="wmsDisplayForm"></div>
				</div>
				
				<!-- Category WFS section -->
				<div id="categoryWfsForm" class="formSectionGroup">
					<div class="formSectionLabel">WFS feature types:</div>
					<div id="addWfs" class="formLink" data-dojo-attach-event="onclick:addWfsClick">Add new</div>
					<div id="addWfsForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new WFS feature type</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">URL:</span>
							<input id="wfsUrlInput" class="textInput" type="text" tabindex="2" maxlength="500" placeholder="Required">
							<span id="validateWfs" class="formLink" data-dojo-attach-event="onclick:validateWfsClick">Validate</span>
							<div class="inputDescriptionRequired">Input valid WFS url. Examples:</div>
							<div class="inputDescriptionRequired">http://www.myserver.com/arcgis/services/download/service</div>
							<div class="inputDescriptionRequired">https://www.myserver.com/service</div>
						</div>
						<div id="wfsLayerNameSelectGroup" class="inputLabelGroup" style="display:none;">
							<span class="textInputLabel">WFS feature type name:</span>
							<span id="wfsNameSelect" data-dojo-attach-point="wfsNameSelect"></span>
							<div class="inputDescriptionRequired">Choose feature type (feature type names have been extracted from WFS GetCapabilities).</div>
						</div>
						<div id="wfsLayerNameInputGroup" class="inputLabelGroup" style="display:none;">
							<span class="textInputLabel">WFS feature type name:</span>
							<input id="wfsNameInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
							<div class="inputDescriptionRequired">Input WFS feature type name. </div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Label:</span>
							<input id="wfsLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
							<div class="inputDescriptionRequired">Input a label that will appear in the layer list. It can be WFS feature type's title from the WFS GetCapabilities or other label describing this layer.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">HELCOM id:</span>
							<input id="wfsHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
							<div class="inputDescriptionNotRequired">Filled in only by HELCOM.</div>
						</div>
						<span id="saveWfs" class="formLink" style="display: none;" data-dojo-attach-point="saveWfs">Save</span>
						<span id="cancelWfs" class="formLink" data-dojo-attach-event="onclick:cancelWfsClick">Cancel</span>
					</div>
					<div id="wfsDisplayForm" data-dojo-attach-point="wfsDisplayForm"></div>
				</div>
				
				<!-- Category Download section -->
				<div id="categoryDownloadForm" class="formSectionGroup">
					<div class="formSectionLabel">Downloadable resources:</div>
					<div id="addDownload" class="formLink" data-dojo-attach-event="onclick:addDownloadClick">Add new</div>
					<div id="addDownloadForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new Downloadable resource</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">URL:</span>
							<input id="downloadUrlInput" class="textInput" type="text" tabindex="2" maxlength="500" placeholder="Required">
							<span id="validateDownload" class="formLink" data-dojo-attach-event="onclick:validateDownloadClick">Validate</span>
							<div class="inputDescriptionRequired">Input downloadable resource URL.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Label:</span>
							<input id="downloadLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
							<div class="inputDescriptionRequired">Input a label that will appear in the layer list. Label should briefly describe this resource.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">HELCOM id:</span>
							<input id="downloadHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
							<div class="inputDescriptionNotRequired">Filled in only by HELCOM.</div>
						</div>
						<span id="saveDownload" class="formLink" style="display: none;" data-dojo-attach-point="saveDownload">Save</span>
						<span id="cancelDownload" class="formLink" data-dojo-attach-event="onclick:cancelDownloadClick">Cancel</span>
					</div>
					<div id="downloadDisplayForm" data-dojo-attach-point="downloadDisplayForm"></div>
				</div>
				
				<!-- Category ArcGIS section -->
				<div id="categoryArcgisForm" class="formSectionGroup">
					<div class="formSectionLabel">ArcGIS MapServer layers:</div>
					<div id="addArcgis" class="formLink" data-dojo-attach-event="onclick:addArcgisClick">Add new</div>
					<div id="addArcgisForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new ArcGIS MapServer layer</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">URL:</span>
							<input id="arcgisUrlInput" class="textInput" type="text" tabindex="2" maxlength="500" placeholder="Required">
							<span id="validateArcgis" class="formLink" data-dojo-attach-event="onclick:validateArcgisClick">Validate</span>
							<div class="inputDescriptionRequired">Input ArcGIS MapServer layer URL. Example:</div>
							<div class="inputDescriptionRequired">http://www.myserver.com/arcgis/rest/services/store/MapServer/1</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Label:</span>
							<input id="arcgisLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
							<div class="inputDescriptionRequired">Input a label that will appear in the layer list. Label should briefly describe this resource.</div>
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">HELCOM id:</span>
							<input id="arcgisHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
							<div class="inputDescriptionNotRequired">Filled in only by HELCOM.</div>
						</div>
						<span id="saveArcgis" class="formLink" style="display: none;" data-dojo-attach-point="saveArcgis">Save</span>
						<span id="cancelArcgis" class="formLink" data-dojo-attach-event="onclick:cancelArcgisClick">Cancel</span>
					</div>
					<div id="arcgisDisplayForm" data-dojo-attach-point="arcgisDisplayForm"></div>
				</div>
				
				<!-- Category WMS INFO section -->
				<div id="categoryWmsInfoForm" class="formSectionGroup">
					<div class="formSectionLabel">WMS GetCapabilities info </div>
					<div id="wmsDisplayInfoForm" style="margin-top: 10px;" data-dojo-attach-point="wmsDisplayInfoForm"></div>
				</div>
				
				<!-- Category WFS INFO section -->
				<div id="categoryWfsInfoForm" class="formSectionGroup">
					<div class="formSectionLabel">WFS GetCapabilities info </div>
					<div id="wfsDisplayInfoForm" data-dojo-attach-point="wfsDisplayInfoForm"></div>
				</div>
								
				<!-- <div id="addDataForCategoryForm" style="display:none;">
					<div id="metadataSection" class="formSectionGroup">
						<div class="formSectionLabel">Metadata:</div>
						<div id="metadataFormMessage" class="formSectionMessage">No metadata added to this layer (Add WMS, WFS first. Metadata will be added automatically if any present in WMS and WFS.)</div>
						<div id="addMetadataButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addMetadataButton">Add</div>
					</div>
										
					<div id="addWfsForm" class="formSectionGroup">
						<div class="formSectionLabel">WFS:</div>
						<div class="formNoDataMessage">No WFS added to this layer</div>
						<div id="addWfsButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addWfsButton">Add</div>
					</div>
					
					<div id="addArcgisMapServerForm" class="formSectionGroup">
						<div class="formSectionLabel">Arcgis MapServer:</div>
						<div class="formNoDataMessage">No Arcgis MapServer added to this layer</div>
						<div id="addArcgisMapServerButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addArcgisMapServerButton">Add</div>
					</div>
					
					
					
					<div id="addDownloadableResourceForm" class="formSectionGroup">
						<div class="formSectionLabel">Downloadable Resource:</div>
						<div class="formNoDataMessage">No downloadable resource added to this layer</div>
						<div id="addDownloadableResourceButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addDownloadableResourceButton">Add</div>
					</div>
				</div>-->
			</div>
			<div id="manageLayersCloseButton" class="formButton" style="margin-top: 10px;" data-dojo-attach-event="onclick:cleanAdminForm">Close</div>
		</div>
				
		<!-- Add USER section -->
		<div id="addUserForm" class="formSectionGroup" style="display: none;">
			<div class="formSectionLabel">Add user</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Name:</span>
				<input id="addUserNameInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Email:</span>
				<input id="addUserEmailInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Password:</span>
				<input id="addUserPasswordInput" class="textInput" type="password" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Repeat password:</span>
				<input id="addUserPasswordRepeatInput" class="textInput" type="password" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Phone number:</span>
				<input id="addUserPhoneInput" class="textInput" type="text" tabindex="2" maxlength="200">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Organization:</span>
				<input id="addUserOrganizationInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Position:</span>
				<input id="addUserPositionInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Country:</span>
				<input id="addUserCountryInput" class="textInput" type="text" tabindex="2" maxlength="2">
			</div>
			<span id="saveUser" class="formLink" data-dojo-attach-point="saveUser">Save</span>
			<span id="cancelUser" class="formLink" data-dojo-attach-event="onclick:cancelAddUserClick">Cancel</span>
		</div>
		
		<!-- Update USER section -->
		<div id="updateUserForm" class="formSectionGroup" style="display: none;">
			<div class="formSectionLabel">Update user</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Name:</span>
				<input id="updateUserNameInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Email:</span>
				<input id="updateUserEmailInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Phone number:</span>
				<input id="updateUserPhoneInput" class="textInput" type="text" tabindex="2" maxlength="200">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Organization:</span>
				<input id="updateUserOrganizationInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Position:</span>
				<input id="updateUserPositionInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Country:</span>
				<input id="updateUserCountryInput" class="textInput" type="text" tabindex="2" maxlength="2">
			</div>
			<span id="updateUser" class="formLink" data-dojo-attach-point="updateUser">Save</span>
			<span id="cancelUpdateUser" class="formLink" data-dojo-attach-event="onclick:cancelUpdateUserClick">Cancel</span>
		</div>
		
		<!-- Change USER password -->
		<div id="changeUserPasswordForm" class="formSectionGroup" style="display: none;">
			<div class="formSectionLabel">Change password</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">New password:</span>
				<input id="changeUserPasswordInput" class="textInput" type="password" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Repeat password:</span>
				<input id="changeUserPasswordRepeatInput" class="textInput" type="password" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<span id="changeUserPassword" class="formLink" data-dojo-attach-point="changeUserPassword">Save</span>
			<span id="cancelChangeUserPassword" class="formLink" data-dojo-attach-event="onclick:cancelChangeUserPassword">Cancel</span>
		</div>
		
		<!-- Category USERS section -->
		<div id="categoryUsersForm" class="formContainer" style="display:none;">
			<div class="scrollableContainer">			
				<!-- Category USERS section -->
				<div id="categoryUsersListForm" class="formSectionGroup">
					<div class="formSectionLabel">Category data providers:</div>
					<div id="addCategoryUser" class="formLink" data-dojo-attach-event="onclick:addCategoryUserClick">Add new</div>
					<div id="addCategoryUserForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add data provider</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Select user:</span>
							<span id="addCategoryUserSelect" data-dojo-attach-point="addCategoryUserSelect"></span>
						</div>
						<span id="saveCategoryUser" class="formLink" data-dojo-attach-event="onclick:saveAddCategoryUserClick">Save</span>
						<span id="cancelCategoryUser" class="formLink" data-dojo-attach-event="onclick:cancelAddCategoryUserClick">Cancel</span>
					</div>
					<div id="categoryUserListForm" data-dojo-attach-point="categoryUserListForm"></div>
				</div>				
			</div>
			<div id="categoryUsersCloseButton" class="formButton" style="margin-top: 10px;" data-dojo-attach-event="onclick:cleanAdminForm">Close</div>
		</div>
		
		<!-- MSP validation section -->
		<div id="mspOutputForm" class="formContainer" style="display:none;">
			<div class="scrollableContainer">
				<div id="validationForm" style="display:none;">
					<div class="formSectionLabel">Validation</div>
					<div id="checkZipGroup" class="inputLabelGroup" style="display:none;">
						<span class="textInputLabelCell">Selected file:</span>
						<span id="checkZipMessage" class="textLabelCell"></span>
					</div>
					<div id="checkExtGroup" class="inputLabelGroup" style="display:none;">
						<span class="textInputLabelCell">Selected file:</span>
						<span id="checkExtMessage" class="textLabelCell"></span>
					</div>
					<div id="validateButton" class="formButton" style="margin-top: 10px; display: none;" data-dojo-attach-point="validateButton">Validate</div>
					<div id="uploadGroup" class="inputLabelGroup" style="display:none;">
						<span class="textInputLabelCell">Processing:</span>
						<span id="shpUploadMessage" class="textLabelCell"></span>
					</div>
					<div id="wfsUrlGroup" class="inputLabelGroup" style="display:none;">
						<span class="textInputLabelCell">Wfs url:</span>
						<span id="wfsUrlMessage" class="textLabelCell"></span>
					</div>
					<div id="errorReportSection" class="formSectionGroup" style="display:none;">
						<div class="formSectionLabel">Validation report:</div>
						<div id="errorsSection" data-dojo-attach-point="errorsSection"></div>
					</div>
					<div id="uploadMessage" style="margin-top: 10px; font-size: 12px; display: none;">
						<div> 
							Valid data are ready to be transformed to Basemaps data model and uploaded (or replaced) in the database.
						</div>
						<div id="uploadNoteMessage" style="color: red;"></div>
						<div>
							Click Upload button to continue or New validation - start over new validation.
						</div>
					</div>
					<div id="uploadValidDataButton" class="formButton" style="margin-top: 10px; display: none;" data-dojo-attach-point="uploadValidDataButton">Upload data</div>
				</div>
				<div id="uploadForm" style="display:none;">
					<div class="formSectionLabel">Upload</div>
					<div id="backupDataGroup" class="inputLabelGroup">
						<span class="textInputLabelCell">Backup:</span>
						<span id="backupDataMessage" class="textLabelCell"></span>
					</div>
					<div id="uploadDataGroup" class="inputLabelGroup" style="display:none;">
						<span class="textInputLabelCell">Upload:</span>
						<span id="uploadDataMessage" class="textLabelCell"></span>
					</div>
					<div id="uploadReportSection" data-dojo-attach-point="uploadReportSection" style="display:none;">
						<div class="formSectionLabel">Upload report:</div>
						<div id="uploadSection" data-dojo-attach-point="uploadSection"></div>	
					</div>
				</div>
				<div id="validationCloseButton" class="formButtonFlexibleWidth" style="margin-top: 10px; margin-bottom: 10px;" data-dojo-attach-point="validationCloseButton" data-dojo-attach-event="onclick:cleanMspOutputForm">Close</div>
			</div>
		</div>
	</div>
</div>
