<div>
	<div id="adminListButtons"> 
		<div id="addUserButton" class="adminListButton" data-dojo-attach-event="onclick:addUserButtonClick">Add user</div>
	</div>
	<div id="adminUsersListID" class="usersList" data-dojo-attach-point="adminUsersList"></div>
	<!-- <div id="layerlistSectionsContainer">
		<div id="layerSearchSection">
			<input class="layerSearchInput" data-dojo-attach-point="layerSearchInput"/>
		</div>
		<div id="layerListSection">
			<div id="layerListTreeID" class="layerListTree" data-dojo-attach-point="layerListTree"></div>
			<div id="hideAllButton" class="layerListButton" data-dojo-attach-point="hideAllButton">Hide all layers</div>
			<div id="collapseAllButton" class="layerListButton" data-dojo-attach-point="collapseAllButton">Collapse layer list</div>
		</div>
	</div> -->
</div>
