<div>
	<div id="adminFormsHeader" data-dojo-attach-point="adminFormsHeader"></div>
	<div id="adminFormsBody" data-dojo-attach-point="adminFormsBody">
		<div id="adminFormMessage"></div>
		
		<!-- Add ROOT CATEGORY section -->
		<div id="addRootCategoryForm" class="formSectionGroup" style="display: none;">
			<div class="formSectionLabel">Add root category</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Label:</span>
				<input id="addRootCategoryLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">HELCOM id:</span>
				<input id="addRootCategoryHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Metadata URL:</span>
				<input id="addRootCategoryMetadataUrlInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Metadata format:</span>
				<span id="addRootCategoryMetadataFormatSelect" data-dojo-attach-point="addRootCategoryMetadataFormatSelect"></span>
			</div>
			<span id="saveRootCategory" class="formLink" data-dojo-attach-point="saveRootCategory">Save</span>
			<span id="cancelRootCategory" class="formLink" data-dojo-attach-event="onclick:cancelRootCategoryClick">Cancel</span>
		</div>
		
		<div id="categoryForm" class="formContainer" style="display:none;">
			<div class="scrollableContainer">
				<div id="deleteObject" class="deleteObjectLink" data-dojo-attach-event="onclick:deleteObjectClick">Delete</div>
				<!-- Category INFO section -->
				<div id="categoryInfoForm" class="formSectionGroup">
					<div class="formSectionLabel">Info:</div>
					<div class="inputLabelGroup">
						<span class="textInputLabel">Label:</span>
						<span id="categoryLabel" class="textLabel"></span>
						<input id="categoryLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" style="display: none;" placeholder="Required">	
						<span id="editCategoryLabel" class="formLink" data-dojo-attach-event="onclick:editCategoryLabelClick">Edit</span>
						<span id="cancelCategoryLabel" class="formLink" style="display: none;" data-dojo-attach-event="onclick:cancelCategoryLabelClick">Cancel</span>
						<span id="saveCategoryLabel" class="formLink" style="display: none;" data-dojo-attach-point="saveCategoryLabel">Save</span>
					</div>
					<div class="inputLabelGroup">
						<span class="textInputLabel">HELCOM id:</span>
						<span id="helcomCatalogueId" class="textLabel"></span>
						<input id="helcomCatalogueIdInput" class="textInput" type="text" tabindex="2" maxlength="200" style="display: none;">
						<span id="editHelcomCatalogueId" class="formLink" data-dojo-attach-event="onclick:editHelcomCatalogueIdClick">Edit</span>
						<span id="cancelHelcomCatalogueId" class="formLink" style="display: none;" data-dojo-attach-event="onclick:cancelHelcomCatalogueIdClick">Cancel</span>
						<span id="saveHelcomCatalogueId" class="formLink" style="display: none;" data-dojo-attach-point="saveHelcomCatalogueId">Save</span>
					</div>
					<div id=categoryMetadataSection class="inputLabelGroup">
						<span class="textInputLabel">Metadata:</span>
						<span id="categoryMetadataLink" class="textLabel"></span>
						<input id="categoryMetadataLinkInput" class="textInput" type="text" tabindex="2" maxlength="500" style="display: none;">
						<span id="editCategoryMetadataLink" class="formLink" data-dojo-attach-event="onclick:editCategoryMetadataLinkClick">Edit</span>
						<span id="cancelCategoryMetadataLink" class="formLink" style="display: none;" data-dojo-attach-event="onclick:cancelCategoryMetadataLinkClick">Cancel</span>
						<span id="saveCategoryMetadataLink" class="formLink" style="display: none;" data-dojo-attach-point="saveCategoryMetadataLink">Save</span>
					</div>
				</div>
				
				<!-- Category METADATA section -->
				<div id="categoryMetadataForm" class="formSectionGroup">
					<div class="formSectionLabel">Metadata:</div>
					<div id="addMetadata" class="formLink" data-dojo-attach-event="onclick:addMetadataClick">Add new</div>
					<div id="addMetadataForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new metadata</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">URL:</span>
							<input id="metadataUrlInput" class="textInput" type="text" tabindex="2" maxlength="500" placeholder="Required">
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Metadata format:</span>
							<span id="metadataFormatSelect" data-dojo-attach-point="metadataFormatSelect"></span>
						</div>
						<span id="saveMetadata" class="formLink" data-dojo-attach-point="saveMetadata">Save</span>
						<span id="cancelMetadata" class="formLink" data-dojo-attach-event="onclick:cancelMetadataClick">Cancel</span>
					</div>
					<div id="metadataDisplayForm" data-dojo-attach-point="metadataDisplayForm"></div>
				</div>
				
				<!-- Category CATEGORIES section -->
				<div id="categoryCategoriesForm" class="formSectionGroup">
					<div class="formSectionLabel">Sub-categories:</div>
					<div id="addCategory" class="formLink" data-dojo-attach-event="onclick:addCategoryClick">Add new</div>
					<div id="addCategoryForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new category</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Label:</span>
							<input id="addCategoryLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">HELCOM id:</span>
							<input id="addCategoryHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Metadata URL:</span>
							<input id="addCategoryMetadataUrlInput" class="textInput" type="text" tabindex="2" maxlength="500">
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Metadata format:</span>
							<span id="addCategoryMetadataFormatSelect" data-dojo-attach-point="addCategoryMetadataFormatSelect"></span>
						</div>
						<span id="saveCategory" class="formLink" data-dojo-attach-point="saveCategory">Save</span>
						<span id="cancelCategory" class="formLink" data-dojo-attach-event="onclick:cancelCategoryClick">Cancel</span>
					</div>
					<div id="categoryDisplayForm" data-dojo-attach-point="categoryDisplayForm"></div>
				</div>
				
				<!-- Category WMS section -->
				<div id="categoryWmsForm" class="formSectionGroup">
					<div class="formSectionLabel">WMS layers:</div>
					<div id="addWms" class="formLink" data-dojo-attach-event="onclick:addWmsClick">Add new</div>
					<div id="addWmsForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add new WMS layer</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">URL:</span>
							<input id="wmsUrlInput" class="textInput" type="text" tabindex="2" maxlength="500" placeholder="Required">
							<span id="validateWms" class="formLink" data-dojo-attach-event="onclick:validateWmsClick">Validate</span>
						</div>
						<div id="wmsLayerNameSelectGroup" class="inputLabelGroup" style="display:none;">
							<span class="textInputLabel">WMS layer name:</span>
							<span id="wmsNameSelect" data-dojo-attach-point="wmsNameSelect"></span>
						</div>
						<div id="wmsLayerNameInputGroup" class="inputLabelGroup" style="display:none;">
							<span class="textInputLabel">WMS layer name:</span>
							<input id="wmsNameInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Label:</span>
							<input id="wmsLabelInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
						</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">HELCOM id:</span>
							<input id="wmsHelcomIdInput" class="textInput" type="text" tabindex="2" maxlength="200">
						</div>
						<span id="saveWms" class="formLink" data-dojo-attach-point="saveWms">Save</span>
						<span id="cancelWms" class="formLink" data-dojo-attach-event="onclick:cancelWmsClick">Cancel</span>
					</div>
					<div id="wmsDisplayForm" data-dojo-attach-point="wmsDisplayForm"></div>
				</div>
				
				<!-- Category WMS INFO section -->
				<div id="categoryWmsInfoForm" class="formSectionGroup">
					<div class="formSectionLabel">WMS GetCapabilities info </div>
					<div id="wmsDisplayInfoForm" data-dojo-attach-point="wmsDisplayInfoForm"></div>
				</div>
								
				<div id="addDataForCategoryForm" style="display:none;">
					<div id="metadataSection" class="formSectionGroup">
						<div class="formSectionLabel">Metadata:</div>
						<div id="metadataFormMessage" class="formSectionMessage">No metadata added to this layer (Add WMS, WFS first. Metadata will be added automatically if any present in WMS and WFS.)</div>
						<div id="addMetadataButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addMetadataButton">Add</div>
					</div>
										
					<div id="addWfsForm" class="formSectionGroup">
						<div class="formSectionLabel">WFS:</div>
						<div class="formNoDataMessage">No WFS added to this layer</div>
						<div id="addWfsButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addWfsButton">Add</div>
					</div>
					
					<div id="addArcgisMapServerForm" class="formSectionGroup">
						<div class="formSectionLabel">Arcgis MapServer:</div>
						<div class="formNoDataMessage">No Arcgis MapServer added to this layer</div>
						<div id="addArcgisMapServerButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addArcgisMapServerButton">Add</div>
					</div>
					
					
					
					<div id="addDownloadableResourceForm" class="formSectionGroup">
						<div class="formSectionLabel">Downloadable Resource:</div>
						<div class="formNoDataMessage">No downloadable resource added to this layer</div>
						<div id="addDownloadableResourceButton" class="formButton" style="margin-left: 20px;" data-dojo-attach-point="addDownloadableResourceButton">Add</div>
					</div>
				</div>
			</div>
			<div id="manageLayersCloseButton" class="formButton" style="margin-top: 10px;" data-dojo-attach-event="onclick:cleanAdminForm">Close</div>
		</div>
				
		<!-- Add USER section -->
		<div id="addUserForm" class="formSectionGroup" style="display: none;">
			<div class="formSectionLabel">Add user</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Name:</span>
				<input id="addUserNameInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Email:</span>
				<input id="addUserEmailInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Password:</span>
				<input id="addUserPasswordInput" class="textInput" type="password" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Repeat password:</span>
				<input id="addUserPasswordRepeatInput" class="textInput" type="password" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Phone number:</span>
				<input id="addUserPhoneInput" class="textInput" type="text" tabindex="2" maxlength="200">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Organization:</span>
				<input id="addUserOrganizationInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Position:</span>
				<input id="addUserPositionInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<span id="saveUser" class="formLink" data-dojo-attach-point="saveUser">Save</span>
			<span id="cancelUser" class="formLink" data-dojo-attach-event="onclick:cancelAddUserClick">Cancel</span>
		</div>
		
		<!-- Update USER section -->
		<div id="updateUserForm" class="formSectionGroup" style="display: none;">
			<div class="formSectionLabel">Update user</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Name:</span>
				<input id="updateUserNameInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Email:</span>
				<input id="updateUserEmailInput" class="textInput" type="text" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Phone number:</span>
				<input id="updateUserPhoneInput" class="textInput" type="text" tabindex="2" maxlength="200">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Organization:</span>
				<input id="updateUserOrganizationInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Position:</span>
				<input id="updateUserPositionInput" class="textInput" type="text" tabindex="2" maxlength="500">
			</div>
			<span id="updateUser" class="formLink" data-dojo-attach-point="updateUser">Save</span>
			<span id="cancelUpdateUser" class="formLink" data-dojo-attach-event="onclick:cancelUpdateUserClick">Cancel</span>
		</div>
		
		<!-- Change USER password -->
		<div id="changeUserPasswordForm" class="formSectionGroup" style="display: none;">
			<div class="formSectionLabel">Change password</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">New password:</span>
				<input id="changeUserPasswordInput" class="textInput" type="password" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<div class="inputLabelGroup">
				<span class="textInputLabel">Repeat password:</span>
				<input id="changeUserPasswordRepeatInput" class="textInput" type="password" tabindex="2" maxlength="200" placeholder="Required">
			</div>
			<span id="changeUserPassword" class="formLink" data-dojo-attach-point="changeUserPassword">Save</span>
			<span id="cancelChangeUserPassword" class="formLink" data-dojo-attach-event="onclick:cancelChangeUserPassword">Cancel</span>
		</div>
		
		<!-- Category USERS section -->
		<div id="categoryUsersForm" class="formContainer" style="display:none;">
			<div class="scrollableContainer">			
				<!-- Category USERS section -->
				<div id="categoryUsersListForm" class="formSectionGroup">
					<div class="formSectionLabel">Category data providers:</div>
					<div id="addCategoryUser" class="formLink" data-dojo-attach-event="onclick:addCategoryUserClick">Add new</div>
					<div id="addCategoryUserForm" class="formSubSectionGroup" style="display: none;">
						<div class="formSubSectionLabel">Add data provider</div>
						<div class="inputLabelGroup">
							<span class="textInputLabel">Select user:</span>
							<span id="addCategoryUserSelect" data-dojo-attach-point="addCategoryUserSelect"></span>
						</div>
						<span id="saveCategoryUser" class="formLink" data-dojo-attach-event="onclick:saveAddCategoryUserClick">Save</span>
						<span id="cancelCategoryUser" class="formLink" data-dojo-attach-event="onclick:cancelAddCategoryUserClick">Cancel</span>
					</div>
					<div id="categoryUserListForm" data-dojo-attach-point="categoryUserListForm"></div>
				</div>				
			</div>
			<div id="categoryUsersCloseButton" class="formButton" style="margin-top: 10px;" data-dojo-attach-event="onclick:cleanAdminForm">Close</div>
		</div>
	</div>
</div>
