<div>
	<div id="adminListButtons"> 
		<div id="topCategoryButton" class="adminListButton" style="display:none;" data-dojo-attach-event="onclick:topCategoryButtonClick">Add root category</div>
		<div id="refreshButton" class="adminListButton" data-dojo-attach-event="onclick:refreshButtonClick">Refresh layer list</div>
		<div id="summaryButton" class="adminListButton" data-dojo-attach-event="onclick:summaryButtonClick">View services summary</div>
		<div id="validateServicesButton" class="adminListButton" data-dojo-attach-event="onclick:validateServicesButtonClick">Validate services</div>
	</div>
	<div id="adminLayerListTreeID" class="layerListTree" data-dojo-attach-point="adminLayerListTree"></div>
	<!-- <div id="layerlistSectionsContainer">
		<div id="layerSearchSection">
			<input class="layerSearchInput" data-dojo-attach-point="layerSearchInput"/>
		</div>
		<div id="layerListSection">
			<div id="layerListTreeID" class="layerListTree" data-dojo-attach-point="layerListTree"></div>
			<div id="hideAllButton" class="layerListButton" data-dojo-attach-point="hideAllButton">Hide all layers</div>
			<div id="collapseAllButton" class="layerListButton" data-dojo-attach-point="collapseAllButton">Collapse layer list</div>
		</div>
	</div> -->
</div>
