<div id="header" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'top'">
	<a id="basemapslogocontainer" href="."></a>
	<div id="linkscontainer">
		<a class="headerLink" id="logoutLink" href="#">Logout</a>
		<a class="headerLink" id="adminLink" href="#">Admin</a>
		<a class="headerLink" id="mapLink" href="#">Map</a>
		<!--<a class="headerLink" id="aboutLink" href="http://vasab.org/index.php/projects/baltic-lines" target="_blank">About</a>
		<a class="headerLink" id="meatdataLink" href="http://metadata.helcom.fi/geonetwork" target="_blank">Metadata</a>-->
	</div>
	<a id="helcomlogocontainer" href="http://www.helcom.fi/" target="_blank"></a>
	<a id="balticlineslogocontainer" href="http://vasab.org/index.php/projects/baltic-lines" target="_blank"></a>
	
	
	<!--<div id="widgetscontainer"></div>-->
</div>
