<div>
  <div id="collapseLayerList" class="collapseExpandLayerList" data-dojo-attach-point="collapseLayerList"></div>
  <div id="expandLayerList" class="collapseExpandLayerList" data-dojo-attach-point="expandLayerList"></div>
  <div id="layerlistSectionsContainer">
    <!-- <div id="layerSearchSection">
      <input class="layerSearchInput" data-dojo-attach-point="layerSearchInput"/>
    </div>-->
    <div id="layerListSection">
      <div id="layerListTreeID" class="layerListTree" data-dojo-attach-point="layerListTree"></div>
      <div id="hideAllButton" class="layerListButton" data-dojo-attach-point="hideAllButton">Hide all layers</div>
      <div id="collapseAllButton" class="layerListButton" data-dojo-attach-point="collapseAllButton">Collapse layer list</div>
    </div>
  </div>
</div>
