<div>
  <div id="collapseLayerList" class="collapseExpandLayerList" data-dojo-attach-point="collapseLayerList"></div>
  <div id="expandLayerList" class="collapseExpandLayerList" data-dojo-attach-point="expandLayerList"></div>
  <div id="layerlistSectionsContainer">
    <!-- <div id="layerSearchSection">
      <input class="layerSearchInput" data-dojo-attach-point="layerSearchInput"/>
    </div>-->
    <div id="layerListModeSection">
    	<div id="inputDataView" class="layerListViewButtonActive" data-dojo-attach-point="inputDataView">Baltic Lines data</div>
		<div id="outputDataView" class="layerListViewButton" data-dojo-attach-point="outputDataView">MSP output data</div>
    </div>
    <div id="layerListSection">
      <div id="layerListTreeID" class="layerListTree" data-dojo-attach-point="layerListTree"></div>
      <div id="hideAllButton" class="layerListButton" data-dojo-attach-point="hideAllButton">Hide all layers</div>
      <div id="collapseAllButton" class="layerListButton" data-dojo-attach-point="collapseAllButton">Collapse layer list</div>
    </div>
    <div id="mspLayerListSection">
      <div id="mspLayerListTreeID" class="layerListTree" data-dojo-attach-point="mspLayerListTree"></div>
    </div>
  </div>
</div>
