<div>
	<div id="collapseLeftPanel" class="collapseExpandLeftPanel" data-dojo-attach-point="collapseLeftPanel"></div>
	<div id="expandLeftPanel" class="collapseExpandLeftPanel" data-dojo-attach-point="expandLeftPanel"></div>
	<div id="leftPanelSectionsContainer">
 		<!-- <div id="layerSearchSection">
			<input class="layerSearchInput" data-dojo-attach-point="layerSearchInput"/>
		</div>-->
		<div id="leftPanelModeSection">
			<div id="inputDataView" class="leftPanelViewButtonActive" data-dojo-attach-point="inputDataView">MSP input data</div>
			<div id="outputDataView" class="leftPanelViewButton" data-dojo-attach-point="outputDataView">MSP output data</div>
		</div>
		<div id="inputDataSection" data-dojo-attach-point="inputDataSection"></div>
		<div id="outputDataSection" data-dojo-attach-point="outputDataSection"></div>
	</div>
</div>
