<div>
  <div id="startupHeader">HELCOM Map and Data Service</div>
  <div id="startupBody">
    Helcom Map and Data service contains spatial data collected within HELCOM data collection framework and related projects as outlined in <a href="http://www.helcom.fi/Documents/Ministerial2013/Ministerial%20declaration/Adopted_endorsed%20documents/Monitoring%20and%20assessment%20strategy.pdf" target="_blank">HELCOM Monitoring and Assessment Strategy</a>.<br/>Use conditions of spatial data in the map service are map layer specific. Users are entitled to view use constrains defined in metadata record of each map in the HELCOM Metadata catalogue and cite the resource accordingly.
  </div>
  <div id="startupButtonsContainer">
    <div id="startupCheckboxContainer">
      <input id="startupCheckbox" type="checkbox" data-dojo-attach-point="startupCheckbox"> Remember my answer for the next time
    </div>
    <div id="startupButton" data-dojo-attach-point="startupButton" data-dojo-attach-event="ondijitclick:conditionsAgree">Agree</div>
  </div>
  <div id="startupLogo"></div>
  <span data-dojo-attach-point="info1"></span>
</div>
