<div>
	<div class="popupHeader">Login to BASEMAPS</div>
	<div class="popupText">
		Message for data providers.
	</div>
  
	<input type="text" value="andzejm@gmail.com" required="true" name="userEmail" id="userEmail" class="loginInput" placeholder="Your Email" data-dojo-attach-point="emailInput"  />
	<input type="password" value="anmi" required="true" name="userPassword" id="userPassword" class="loginInput" placeholder="Your Password" data-dojo-attach-point="passwordInput"  />
	<div class="popupButtonsContainer">	
		<div class="popupButton" id="loginButton" data-dojo-attach-point="loginButton" data-dojo-attach-event="ondijitclick:validateLoginInput">Login</div>
		<div class="popupButton" id="cancelLoginButton" data-dojo-attach-point="cancelLoginButton" data-dojo-attach-event="ondijitclick:cancelLogin">Cancel</div>
	</div>
	<div class="popupMessage" id="loginMessage" data-dojo-attach-point="loginMessage"></div>	   
	<div class="popupFooter"></div>
  
  
  <!-- <div id="startupButtonsContainer">
    <div id="startupCheckboxContainer">
      <input id="startupCheckbox" type="checkbox" data-dojo-attach-point="startupCheckbox"> Remember my answer for the next time
    </div>
    <div id="startupButton" data-dojo-attach-point="startupButton" data-dojo-attach-event="ondijitclick:conditionsAgree">Agree</div>
  </div>
  
  <span data-dojo-attach-point="info1"></span> -->
</div>
