<div>
	<div class="formSectionLabel">Harmonized MSP output data</div>
	<div class="formSubSectionLabel" style="font-size: 12px; color: #444;">Harmonized MSP output data displayed in this section are generalized and used for visualization purposes. Copies of original data are used in this section. Official data are provided in the section below.</div>
	<div>
		<a href="https://metadata.helcom.fi/geonetwork/srv/eng/catalog.search#/metadata/7e216ec3-25d4-4a4e-89ec-62aceb16eed0" target="_blank">Metadata</a><br/>
		<a href="https://maps.helcom.fi/website/MADS/download/?id=human_activities154" target="_blank">Download Plan Area dataset</a>
	</div>
	<div class="layerListTree">
		<div id="mspFilterContainerID" data-dojo-attach-point="mspFilterContainer" style="margin-top: 20px; margin-bottom: 20px"></div>			
	</div>
	<div class="formSectionLabel" style="margin-top: 20px;">National MSP plan WMS services</div>
	<div class="formSubSectionLabel" style="font-size: 12px; color: #444;">This section provides MSP output data provided by national data providers using WMS services.</div>
	<div class="layerListTree">
		<div id="mspNationalDataID" data-dojo-attach-point="mspNationalDataContainer" style="margin-top: 20px; margin-bottom: 20px"></div>			
	</div>
</div>
