<div>
	<div class="formSubSectionLabel" style="font-size: 12px;">Important notes <br/>MSP output data displayed in this application are generalized and used for visualization purposes. Copies of original data are used in this application. Official data will be available from national data providers indicated by each country.</div>
	<div class="layerListTree">
		<div id="mspFilterContainerID" data-dojo-attach-point="mspFilterContainer" style="margin-top: 20px; margin-bottom: 20px"></div>			
	</div>
</div>
