<div>
	<div class="formSubSectionLabel">Important note: data used in this application are only for testing purposes. MSP output data are under development.</div>
	<div class="formSubSectionLabel">Important note: copies of data are used in this application. Official data will be available in services indicated by each country.</div>
	<div class="layerListTree">
		<div style="height: 30px; margin-bottom: 10px;">
			<div id="oldVersionButton" class="layerListButton" data-dojo-attach-point="oldVersionButton">Old version</div>
			<div id="newVersionButton" class="layerListButton" data-dojo-attach-point="newVersionButton">New version</div>
		</div>
		<div id="mspFilterContainerID" data-dojo-attach-point="mspFilterContainer" style="margin-top: 20px; margin-bottom: 20px; display: none"></div>
		<div id="mspLayerListTreeID" data-dojo-attach-point="mspLayerListTree" style="display: none"></div>			
	</div>
</div>
