<div>
	<div class="popupHeader">Welcome to Basemaps</div>
	<div class="popupText">
		Basemaps provides access to maritime spatial planning (MSP) data in the Baltic Sea. It is designed <strong>for planners, data providers and authorities</strong> involved in maritime spatial planning.
	</div>
	<div class="popupColumns">
		<div class="popupColumn">
			<span style="background-color:#A1575E; color:white">MSP input data</span>: This section is a valuable resource for the <strong>data used in the development of the plans</strong>. It includes data and metadata published and maintained at source by national data providers. Data are available as OGC WMS, OGC WFS, ArcGIS REST Map Servers or provided as data packages for download. Section also includes harmonized and centralized Baltic-wide datasets provided by HELCOM.
		</div>
		<div class="popupColumn">
			<span style="background-color:#A1575E; color:white">MSP output data</span>: This section is useful to <strong>examine the existing plans of Baltic Sea countries</strong>. It includes data and metadata of national MSP plans harmonized according to HELCOM‐VASAB Guidelines on transboundary MSP output data structure. Plans data are available for viewing through national OGC WMSes and as Baltic-wide harmonized dataset.
		</div>
	</div>
	<div class="popupText">
		National data in both sections are added and maintained by national data providers.
	</div>  
	<div class="popupButtonsContainer">	
		<div class="popupButton" id="splashCloseButton" data-dojo-attach-point="splashCloseButton" data-dojo-attach-event="ondijitclick:closeWindow">Close</div>
	</div>	   
	<div class="splashPopupFooter">
		Basemaps is maintained by HELCOM in cooperation with national experts from <a href="https://helcom.fi/helcom-at-work/groups/helcom-vasab-maritime-spatial-planning-working-group/msp-data-expert-sub-group/" target="_blank" style="color:white">HELCOM-VASAB MSP data expert sub-group</a>
	</div>
  
  
  <!-- <div id="startupButtonsContainer">
    <div id="startupCheckboxContainer">
      <input id="startupCheckbox" type="checkbox" data-dojo-attach-point="startupCheckbox"> Remember my answer for the next time
    </div>
    <div id="startupButton" data-dojo-attach-point="startupButton" data-dojo-attach-event="ondijitclick:conditionsAgree">Agree</div>
  </div>
  
  <span data-dojo-attach-point="info1"></span> -->
</div>
