<div>
	<div class="popupHeader">Welcome to BASEMAPS</div>
	<div class="popupText">
		<b>BASEMAPS is a map service to access Baltic Sea maritime spatial planning (MSP) relevant data from the original source where it is stored.</b> BASEMAPS allows users to view and download data/metadata published by national data providers through OGC open geospatial standards - WMS and WFS. It is aimed for planners, data providers and authorities dealing with maritime spatial planning in the Baltic Sea. <br/><br/>
		<b>There are 2 sections within BASEMAPS - Input and Output data.</b> This terminology is used according to HELCOM-VASAB MSP Data expert sub-group to differentiate between data for plans and the plans. <br/>
		<b>MSP input data</b> opens by default and includes various thematic data which has been considered relevant for MSP purposes. The section contains both national data harvested from national data providers (when available) as well as centralized dataset provided by HELCOM. Users can use input data if they want to access transboundary data. <br/> 
		<b>MSP output data</b>, on the contrary, contains national MSP plans harmonized according to <a href="https://vasab.org/document/guidelines-on-transboundary-msp-output-data-structure-2-2/" target="_blank">HELCOM‐VASAB Guidelines on transboundary MSP output data structure</a>. Users can use output data to check what other countries in the Baltic Sea have already planned. <br/><br/>
		
	</div>
  
	<div class="popupButtonsContainer">	
		<div class="popupButton" id="splashCloseButton" data-dojo-attach-point="splashCloseButton" data-dojo-attach-event="ondijitclick:closeWindow">Close</div>
	</div>	   
	<div class="splashPopupFooter">
		BASEMAPS is developed by HELCOM in cooperation with national experts form HELCOM-VASAB MSP data expert sub-group and with a support from INTERREG BSR project BalticLINes (2016-2019) and EASME funded project Pan Baltic Scope (2019-2020).
	</div>
  
  
  <!-- <div id="startupButtonsContainer">
    <div id="startupCheckboxContainer">
      <input id="startupCheckbox" type="checkbox" data-dojo-attach-point="startupCheckbox"> Remember my answer for the next time
    </div>
    <div id="startupButton" data-dojo-attach-point="startupButton" data-dojo-attach-event="ondijitclick:conditionsAgree">Agree</div>
  </div>
  
  <span data-dojo-attach-point="info1"></span> -->
</div>
